@keyframes move-background {
    from {
      transform: translate3d(0px, 0px, 0px);
    }
    to {
      transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  /* Vendor-prefixed keyframes */
  @-webkit-keyframes move-background {
    from {
      -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -webkit-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  @-moz-keyframes move-background {
    from {
      -moz-transform: translate3d(0px, 0px, 0px);
    }
    to {
      -moz-transform: translate3d(1000px, 0px, 0px);
    }
  }
  
  /* Layout */
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
  }
  
  /* Stars Layer */
  .stars {
    background: black url("/images/stars.png") repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
  }
  
  /* Twinkling Overlay */
  .twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("/images/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  
    animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
  }

@media (max-width: 800px) {
  .twinkling {
    width: 100%;
    opacity: 0.35;
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    transform: none;
  }
}

@font-face {
  font-family: MyFont;
  src: url('../fonts/MinecraftRegular.otf');
}
